<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firsteat.firsteat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.firsteat.firsteat.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.touchmagics.firsteat.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.firsteat.firsteat.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.firsteat.firsteat.activities.Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.firsteat.firsteat.activities.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.firsteat.firsteat.utils.WelcomeScreen"
            android:label="Welcome Screen" />
        <activity
            android:name="com.firsteat.firsteat.activities.Cart"
            android:parentActivityName="com.firsteat.firsteat.activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.firsteat.firsteat.activities.MainActivity" />
        </activity>

        <!-- Facebook stuff -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.firsteat.firsteat.activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name="com.firsteat.firsteat.activities.SignUp"
            android:label="@string/title_activity_sign_up" />

        <!-- GCM Stuff -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.firsteat.firsteat.utils.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.firsteat.firsteat.utils.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name="com.firsteat.firsteat.activities.AddressActivity"
            android:parentActivityName="com.firsteat.firsteat.activities.Cart">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.firsteat.firsteat.activities.Cart" />
        </activity>
        <activity
            android:name="com.firsteat.firsteat.activities.Summary"
            android:parentActivityName="com.firsteat.firsteat.activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.firsteat.firsteat.activities.MainActivity" />
        </activity>
        <activity android:name="com.firsteat.firsteat.activities.ConfirmOrder" />
        <activity
            android:name="com.firsteat.firsteat.activities.PreConfirmOrder"
            android:parentActivityName="com.firsteat.firsteat.activities.Cart">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.firsteat.firsteat.activities.Cart" />
        </activity>
        <activity android:name="com.firsteat.firsteat.activities.SpecialNotifications"
            android:parentActivityName="com.firsteat.firsteat.activities.MainActivity"
            android:launchMode="singleTop">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.firsteat.firsteat.activities.MainActivity" />
        </activity>
        <activity android:name="com.firsteat.firsteat.activities.BaseFragmentActivity"
            android:parentActivityName="com.firsteat.firsteat.activities.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.firsteat.firsteat.activities.MainActivity" />
        </activity>
        <activity android:name="com.firsteat.firsteat.activities.ProductTourActivity" />


    </application>

</manifest>
